<div class="d-flex">
{{#each colors}}
    <div style="background:{{color}};height:36px;width:36px;" data-color="{{color}}" data-hue="{{hue}}"></div>
    {{!-- <div class="color-swatch" style="background:{{color}};height:36px;width:{{colorPercentToWidth percent scale=200}}px;" data-color="{{color}}" data-hue="{{hue}}"></div> --}}
{{/each}}
</div>